In [41]:
from dputils.scrape import Scraper, Tag
import pandas as pd

In [42]:
url='https://www.flipkart.com/search?q=bags&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
sc=Scraper(url=url)

In [44]:
priceTag=Tag('div',cls='_30jeqs')

In [45]:
target=Tag('div', cls='_1YokD2 _3Mn1Gg')
items=Tag('div', cls='_2B099V')
priceTag=Tag('div', cls='_30jeq3')
brandTag=Tag('div', cls='_2WkVRV')
results=sc.get_all(target,items,price=priceTag,brand=brandTag)
pd.DataFrame(results)

     price               brand
0     ₹521           R RADIANT
1     ₹449             Frontsy
2     ₹529               WROGN
3     ₹529               WROGN
4     ₹739               WROGN
5     ₹591            Roadster
6     ₹629             SKYBAGS
7     ₹649              SAFARI
8   ₹1,035            PROVOGUE
9     ₹491               WROGN
10    ₹491               WROGN
11    ₹935            Roadster
12    ₹659             SKYBAGS
13    ₹776            PROVOGUE
14    ₹839             SKYBAGS
15    ₹467            modfrill
16    ₹649                 aob
17    ₹739               WROGN
18    ₹776            PROVOGUE
19    ₹445       Taws & Timber
20    ₹599            Roadster
21    ₹491               WROGN
22    ₹849             SKYBAGS
23    ₹623               Ficro
24    ₹636            Roadster
25    ₹248               PLEXY
26    ₹813            PROVOGUE
27    ₹719               FAVIO
28    ₹249                  Mi
29    ₹659              SAFARI
30  ₹1,500           Wildcraft
31    ₹944               WROGN
32    ₹591            Roadster
33    ₹776            PROVOGUE
34    ₹419            Roadster
35    ₹719              SAFARI
36  ₹1,149  AMERICAN TOURISTER
37    ₹591            Roadster
38    ₹394           zikrefast
39    ₹533              Keywin

In [46]:
pd.DataFrame(results).to_csv('flipkart.csv',index=False)

In [38]:
amazon_url='https://www.amazon.in/s?k=phone&crid=78VNQFA3314N&sprefix=phone%2Caps%2C541&ref=nb_sb_noss_1'
sc=Scraper(amazon_url)
target=Tag('div', cls='s-main-slot s-result-list s-search-result sg-row')
items=Tag('div', cls='s-result-item')
priceTag=Tag('span', cls='a-price-whole')
title=Tag('h2')
rating=Tag('span',cls='a-icon-alt')
link=Tag('a',output='href')
results=sc.get_all(target,items,price=priceTag,title=title,rating=rating,link=link)
pd.DataFrame(results)

Empty DataFrame
Columns: []
Index: []

In [47]:
pd.DataFrame(results).to_csv('amazon.csv',index=False)